.home-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #f5f5f5;
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
}

.home-page .new-header {
  background: #f5f5f5;
  padding: 20px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.home-page .new-header__container {
  background: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.home-page .menu-dropdown {
  top: calc(20px + 63px + 50px) !important; /* padding-top хедера + высота хедера + отступ чтобы не залазило на хедер */
}





