.app-layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.app-layout::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.app-layout__content {
  flex: 1 0 auto;
  width: 100%;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.app-layout__content::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
